

#Ignore vscode AI rules
.github\instructions\

.codacy/.gitignore
.github/instructions/
.codacy/*
docker/.env
JobTrackerBackend/.vs/*
JobTrackerBackend/JobTracker.API/appsettings.Development.json
.vs/*
**/bin/
**/obj/

