DB_HOST=jobtracker
DB_PORT=5432
DB_NAME=jobtracker
DB_USER=admin
DB_PASSWORD=admintracker

ConnectionStrings__DefaultConnection=Host=${DB_HOST};Port=${DB_PORT};Database=${DB_NAME};Username=${DB_USER};Password=${DB_PASSWORD}
